.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/graph.json
.obsidian/app.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.DS_Store
Thumbs.db
desktop.ini
Proyecto Aurora 2026.md
